.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #261c15;
  color: #e9d5ca;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  height: 100%;
  background-color: #261c15;
  width: inherit;
}

.navbar-brand {
  color: #e9d5ca;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 17px;
}
.navbar-brand:hover {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.navbar {
  display: flex;
  height: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 25px;
}

.search-input {
  flex: 1;
  padding: 8px 20px;
  margin-left: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #be3e0b;
  color: #e9d5ca;
  font-size: 16px;
  transition: background-color 0.3s ease, width 0.3s ease;
}

.search-input:focus {
  background-color: #be3e0b;
  width: 100%;
}
.search-input:hover {
  background-color: #f97c4b;
  transition: background-color 0.3s ease-in-out;
}

.search-input::placeholder {
  color: #e9d5ca;
  opacity: 1;
}
.navbar-container {
  background: linear-gradient(to right, #be3e0b, #f97c4b);
}

.navbar-container {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar-container {
  animation: fadeIn 1s ease-in;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .navbar-brand {
    color: #e9d5ca;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    margin-top: 17px;
  }
}
