.login-page {
  display: flex;
  min-height: 100vh;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #ffffff;
}
.login-left {
  flex: 1;
  background: url("https://i.imgur.com/3SK2lqa.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 75px;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  background-color: #c5d86d;
  box-shadow: 0 5px 15px rgba(38, 28, 21, 0.2);
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.login-form label {
  display: block;
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #261c15;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  border: 1px solid #261c15;
  border-radius: 15px;
  background-color: #ffffff;
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 10px;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 15px;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  background-color: #f05d23;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.5em;
}

.login-form button[type="submit"]:hover {
  background-color: #be3e0b;
}

.test-account-info {
  text-align: center;
  margin-top: 20px;
  color: #6a5acd;
  font-size: 1em;
  padding: 10px;
  border-radius: 15px;
  border: 2px dashed #6a5acd;
  background-color: #f0f0f0;
}

a {
  color: #6a5acd;
}

/* MOBIEL VIEW */
@media only screen and (max-width: 600px) {
  .login-left {
    display: none;
  }

  .login-right {
    flex: none;
    height: 100vh;
    justify-content: flex-start;
    padding: 20px;
  }

  .login-form {
    width: 100%;
    padding: 20px 10px;
    border-radius: 15px;
  }

  .login-form label {
    font-size: 1.2em;
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
    font-size: 1em;
    padding: 10px 5px;
  }

  .login-form button[type="submit"] {
    font-size: 1.2em;
    padding: 10px;
  }

  .test-account-info {
    font-size: 0.8em;
  }
}
