.login-page {
  display: flex;
  min-height: 100vh;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #ffffff;
}
.login-left {
  flex: 1;
  background: url("https://i.imgur.com/3SK2lqa.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 75px;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 300px;
  padding: 20px;
  border-radius: 25px; /* Larger border radius for more roundness */
  background-color: #c5d86d; /* Softer color for a more playful look */
  box-shadow: 0 5px 15px rgba(38, 28, 21, 0.2); /* Soft shadow for a "floating" effect */
  font-family: "Comic Sans MS", cursive, sans-serif; /* Fun font that children are familiar with */
}

.login-form label {
  display: block;
  margin-bottom: 15px;
  font-size: 1.5em; /* Larger font size for children */
  color: #261c15; /* Dark text for contrast */
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  border: 1px solid #261c15;
  border-radius: 15px; /* Rounded input fields */
  background-color: #ffffff;
  font-size: 1.2em; /* Larger font size for children */
  margin-bottom: 20px;
  padding: 10px;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 15px; /* Bigger button */
  color: #ffffff;
  border: none;
  border-radius: 15px; /* Rounded button */
  background-color: #f05d23;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.5em; /* Larger button text */
}

.login-form button[type="submit"]:hover {
  background-color: #be3e0b;
}
